<!DOCTYPE html>
<html>
<head>
    <title>Data Display</title>
</head>
<body>
    <h1>Data List</h1>
    <table border="1">
        <thead>
            <tr>
                <% columns.forEach(col => { %>
                    <th><%= col %></th>
                <% }); %>
            </tr>
        </thead>
        <tbody>
            <% results.forEach(row => { %>
                <tr>
                    <% Object.values(row).forEach(value => { %>
                        <td><%= value %></td>
                    <% }); %>
                </tr>
            <% }); %>
        </tbody>
    </table>
</body>
</html>